body {
    background-color: #fcf5e6;
}

h1 {
    color: #080616;
    font-family: Verdana, sans-serif;
    text-align: center;
    font-size: 50px;
}

p {
    font-size: 25px;
    color: #080616;
    font-family: Verdana, sans-serif;
    text-align: center;
}
img{width: 500px;
margin-left: 37%;}